#wrapper1 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% auto 8%;
    grid-template-columns: 8% 1fr;
    grid-template-areas:
    'hd hd'
    'as mi'
    'ft ft'
}
#wrapper2 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% 6% auto 8%;
    grid-template-areas:
    'hd'
    'ar2'
    'mi2'
    'ft'
}
#wrapper3 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 64px 400px 500px 8%;
    grid-template-areas:
    'hd'
    'mi3'
    'dmi3'
    'ft'
}
#wrapper4 {
    display: grid;
    height: calc(100vh);
    grid-template-rows: 10% auto 8%;
    grid-template-areas:
    'hd'
    'community'
    'ft'
}
aside{
    grid-area: as;
    background-color: blueviolet;
    padding: 5px;
}
.article2{
    display: flex;
    justify-content: center;
}
.title{
    padding: 8px;
    display: flex;
    justify-content: start;
}
body{
    background-color: lightskyblue;
    margin: 0px;
}
.section1{
    grid-area: mi;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.section3{
    grid-area: mi3;
    display: flex;
    justify-content: center;
    
}
.article1{
    grid-area: dmi3;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: brown;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);

}
.modell_train_pic{
    object-fit: fill;
}
.section2{
    grid-area: mi2;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.im1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header{
    grid-area: hd;
    background-color: rgb(210, 210, 210);
    color: rgba(0, 0, 255, 0.734);
    display: flex;
    flex-direction: row;
    height: 64px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);

}
nav {
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
    justify-self: end;
    margin-left: auto;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;
    width: 1000px;
}
footer{
    grid-area: ft;
    background-color: grey;
    padding: 5px;
}
.button{
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 0, 0.766);
    height:  50px;
    width: 115px;
    border-radius: 20px;
}
.text{
    padding: 5px;
}
p{
    color: white;
    font-family: fantasy;
    font-size: 20px;
}
h2{
    color: white;
}
h3{
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    height: 200px;
    aspect-ratio: 1;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    background-color: red;
  }
  .imt1{
    border-radius: 5px 5px 0 0;
    
  }
.community-section {
    padding: 20px;
    margin: auto;
    text-align: center;
}
.community-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: aqua;
}
.community-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.info p {
    font-size: 1em;
    color: #555;
}
